/* src/components/Layout.module.css */
.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*position: relative;*/
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    /*overflow-y: auto;*/
  }
  
  .main {
    flex: 1;
    padding: 1rem;
  }
  
  .footerContainer {
    /*max-width: 420px;*/
    position: absolute;
    bottom: 3%;
    height: 54px;
      width: 100%;
      z-index: 1000;
  }


  