@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}


*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'SUITE-Regular', sans-serif;
}


.container {
    padding: 16px;
    /*position: fixed;*/
    /*left: 50%;*/
    max-width: 600px;
    /*width: 50%;*/

    /* Add other styles as needed */
}

.tag {
    width: 50px;
    height: 22px;
    background-color: var(--YellowColor);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: var(--BlackText);
    border-radius: 3px;
}

.title {
    margin: 12px 0;
    font-weight: bold;
    text-align: left;
    width: 100%;
}

.detailGroup {
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 3px;
}

.detailGroup span {
    margin-right: 10px;
}

.map {
    width: 90%;
    max-width: 600px;
    height: 250px;
    background-color: lightgray;
    margin: 14px 0;
    border-radius: 6px;
    border: 2px solid var(--BlackText);
}

.description {
    font-size: 16px;

}

.container hr {
    margin: 15px 0;
}

.participantList {
    display: flex;
    flex-direction: column;
    align-items: center;
}