@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}


*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'SUITE-Regular', sans-serif;
}


.container {
    padding: 16px;
    /*position: fixed;*/
    /*left: 50%;*/
    max-width: 600px;
    /*width: 50%;*/
    font-weight: 500;

    /* Add other styles as needed */
}

.topContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



/*.btnContainer button{*/
/*    margin-right: 10px;*/
/*    width: 45px;*/
/*    height: 25px;*/
/*    font-size: 14px;*/
/*    !*background-color: #8FCAE6;*!*/
/*    background-color: white;*/
/*    border: 1.7px solid black;*/

/*    border-radius: 5px;*/
/*}*/

/*.btnContainer button:hover{*/
/*    background: #f7d874;*/
/*    color: #fac100;*/
/*    box-shadow: 0 0 5px #fac100,*/
/*    0 0 4px #fac100,*/
/*    0 0 30px #fac100,*/
/*    0 0 60px #fac100;*/
/*}*/

/* light on hover with a simple box-shadow */
.button:hover {
    background: #f7d874;
    color: #fac100;
    box-shadow: 0 0 10px #fac100,
    0 0 25px #fac100,
    0 0 50px #fac100,
    0 0 100px #fac100;

}

.tag {
    width: 50px;
    height: 22px;
    background-color: var(--YellowColor);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: var(--BlackText);
    border-radius: 3px;
}

.title {
    margin: 10px 0;
    font-weight: 600;
    text-align: left;
    width: 100%;
}

.detailGroup {
    margin-left: 10px;
    font-size: 16px;
    /*font-weight: bold;*/
    margin-bottom: 3px;
    /*display: flex;*/
    /*flex-direction: row;*/
}

.detailGroup span {
    margin-right: 15px;
}




.map {
    width: 95%;
    max-width: 600px;
    height: 200px;
    background-color: lightgray;
    margin: 14px 0;
    border-radius: 6px;
    border: 2px solid var(--BlackText);
}

.description {
    font-size: 16px;
}

.joinBtnContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

/*.joinBtn {*/
/*    width: 120px;*/
/*    height: 40px;*/
/*    font-size: 16px;*/
/*    font-weight: bold;*/
/*    border-radius: 5px;*/
/*    background-color: var(--YellowColor);*/
/*    border: 2px solid #2C3D55;*/

/*}*/

/*.joinBtn:hover{*/
/*    background: #f7d874;*/
/*    color: #fac100;*/
/*    box-shadow: 0 0 5px #fac100,*/
/*    0 0 4px #fac100,*/
/*    0 0 30px #fac100,*/
/*    0 0 60px #fac100;*/
/*}*/

.joinBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 40px;
    font-size: 16px;
    /*font-weight: bold;*/
    border-radius: 5px;
    background-color: var(--YellowColor);
    border: 2px solid #2C3D55;
    position: relative;
    overflow: hidden;
}

/*.icon {*/
/*    font-size: 16px;*/
/*}*/

.text {
    opacity: 0;
    /*transition: opacity 0.3s ease;*/
    position: absolute;
    white-space: nowrap;
}

.joinBtn:hover .text {
    opacity: 1;
}

/*.joinBtn:hover .icon {*/
/*    opacity: 0;*/
/*}*/

.joinBtn:hover {
    /*background: #f7d874;*/
    color: #fac100;
    box-shadow: 0 0 5px #fac100,
    0 0 4px #fac100,
    0 0 30px #fac100,
    0 0 60px #fac100;
    border: none;
    width: 50px;
    /*background-color: inherit;*/
}


.container hr {
    margin: 15px 0;
}

.participantList {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*font-size: 12px;*/
}

.partiTopContainer {
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*font-size: 12px;*/
}

