.container {
    width: 100%;
    min-height: 40px;
    /*background-color: red;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 10px;

}

.avatar {

}

.avatar img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid black;
    margin: 0;
}

.name {
    font-size: 16px;
    margin-left: 10px;
    font-weight: 500;
}

.hostTag {
    width: 60px;
    height: 25px;
    background-color: #8FCAE6;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 4%;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.icon {
    color: #E2C017;
}