.container {
    padding: 25px;
    width: 100%;
    height: calc(100vh - 20px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    /*overflow-x: hidden;*/
    /*margin-top: 20px;*/
    position: absolute;
    /*top: 2%;*/
    /*background-color: red;*/
    /*padding-top: 40px;*/
}


.infoContainer {
    position: absolute;
    right: 60px;
    top: 30px;
    cursor: pointer;
}


.logoContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    /*margin-top: 200px;*/
}

.logoContainer img{
    width: 127px;
    max-width: 100%;
}

.categoryContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*카테고리 가로 간격*/
    grid-column-gap: 22px;
    /*카테고리 세로 간격*/
    grid-row-gap: 6px;
    width: 90%;
    /*max-width: 440px;*/
    margin-top: 20px;
    }

.categoryButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

.infoIcon {
    width: 100%;
}

.infoText {
    font-size: 12px;
    margin: 0;
}


.categoryImage {
    width: 70%;
    height: auto;
    /*margin-bottom: 8px;*/
}

.imgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: var(--PrimaryColor);
    color: var(--BlackColor);
    /*border: none;*/
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    width: 65px;
    height: 65px;
    /*overflow-y: auto;*/
    /*border: 2px solid #7291BE;*/
    box-shadow: rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.imgContainer:hover {
    background-color: #DFD7C5;
}

.categoryName {
    margin-top: 1.5px;
    font-size: 12px;
}


.titleContainer {
    width: 100%;
    margin-top: 22px;
    font-size: 22px;
    font-weight: bold;
    margin-left: 60px;
}

.todayContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todayList {
    width: 90%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0 50px 0;
    overflow-y: auto;
}

/* 반응형 디자인을 위한 미디어 쿼리 추가 */
@media (max-width: 430px) {
    .categoryContainer {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 8px;
        grid-row-gap: 8px;
    }

    .titleContainer {
        font-size: 18px;
        margin-left: 20px;
    }

    .imgContainer {
        width: 60px;
        height: 60px;
    }

    .categoryName {
        font-size: 12px;
    }

    .todayList {
        width: 100%;
    }
}
