.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container Button:hover {
        background-color: #DFD7C5;
}

.headerContainer {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
    left: 0px;
    /*background-color: blue;*/
}



.topContainer {
    /*background-color: red;*/
    margin-top: 90px;
    width: 80%;
    color: black;
    /*padding: 0 20px;*/
    /*position: fixed;*/
    /*top: -50px;*/
}


/*.topContainer {*/
/*    background-color:  #FFFEFB;;*/
/*    min-height: 200px;*/
/*    width: 100%;*/
/*    max-width: 600px;*/
/*    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;*/
/*    position: fixed;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: flex-start;*/
/*    top: -55px;*/
/*    z-index: 100;*/

/*}*/



/*회원가입 및 로그인 버튼*/
.signIn {
    width: 100%;
    height: 85px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 12px;
    background-color: var(--PrimaryColor);
    position: relative;
    margin-bottom: 10px;
    /*border: 2px solid #2C3D55;*/
    box-shadow: rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.signInTitle {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #000000;
}

.signInSubTitle {
    font-size: 14px;
    color: var(--BrownText);
}

.signInIcon {
    width: 40px;
    height: 100%;
    background-color: black;
}

.icon {
    font-size: 24px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.feedback {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 12px;
    background-color: var(--PrimaryColor);
    position: relative;
    /*border: 2px solid #2C3D55;*/
    box-shadow: rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.notices {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 12px;
    background-color: var(--PrimaryColor);
    position: relative;
    /*border: 2px solid #2C3D55;*/
    box-shadow: rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
   justify-content: center;
    margin-top: 10px;
}

.notices span {
    margin-left: 5px;
}

.feedbackTitle {
    font-size: 20px;
    font-weight: 500;
    color: #000000;

}


.logout {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 12px;
    background-color: var(--PrimaryColor);
    position: relative;
    /*border: 2px solid #2C3D55;*/
    box-shadow: rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin-bottom: 10px;
}

.logoutTitle {
    font-size: 20px;
    font-weight: 500;
    color: #000000;

}

.bottomContainer {
    margin: 20px;
    width: 90%;
}

.myListTitle {
    font-size: 18px;
    font-weight: bold;
}

.itemContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: red;*/
}

.noticesContainer {
    width: 100%;
    /*display: flex;*/
    /*flex-direction: row;*/
    align-items: center;
    /*background-color: red;*/
    /*position: absolute;*/
}

.noticesBtn {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-size: 14px;
}

.noticesBtn span {
    margin-left: 4px;
}


@media (max-width: 430px) {
    .topContainer {
        width: 85%;
    }

}

