/* Signup.module.css */
.container {
    width: 100%;
    padding: 30px;
}

.closeBtnContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.closeBtn {
    flex: 0 0 auto;
    background-color: var(--PrimaryColor);
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    font-size: 23px;
}

.logoContainer img {
    width: 150px;
    margin-bottom: 40px;
}

.signupForm {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatarUploader {
    width: 100%;
    display: flex;
    justify-content: center;
}


.submitBtnContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.submitBtn {
    height: 40px;
    width: 120px;
    border-radius: 10px;
    background-color: var(--YellowColor);
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.loginLink {
    font-size: 14px;
    margin-top: 18px;
}

.loginLinkSpan {
    color: #E2C017;
    font-weight: bold;
}
