/* Signup.module.css */
.container {
    width: 100%;
    padding: 30px;
}

.closeBtnContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.closeBtn {
    flex: 0 0 auto;
    background-color: var(--PrimaryColor);
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    font-size: 23px;
}

.logoContainer img {
    width: 150px;
    margin-bottom: 40px;
}

.signupForm {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatarUploader {
    width: 100%;
    display: flex;
    justify-content: center;
}


.submitBtnContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.submitBtn {
    height: 45px;
    width: 130px;
    border-radius: 10px;
    background-color: var(--YellowColor);
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.submitBtn:hover {
    background: #f7d874;
    color: #fac100;
    box-shadow: 0 0 5px #fac100,
    0 0 4px #fac100,
    0 0 30px #fac100,
    0 0 60px #fac100;
    border: none;
}


.loginLink {
    font-size: 14px;
    margin-top: 18px;
}

.loginLinkSpan {
    color: #E2C017;
    font-weight: bold;
}

.inputField {
    height: 45px;
    font-size: 14px;
}

.nicknameGroup {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center; /* 세로 중앙 정렬 */
    background-color: red;
}

.inputFieldNick {
    height: 45px;
    font-size: 14px;
    margin: 0;
    flex-grow: 1; /* 가로 길이를 부모 컨테이너에 맞춰 확장 */
}

.helperIcon {
    font-size: 23px;
    margin-left: 10px; /* margin-left 값을 조정하여 세로 중앙 정렬 조정 */
    background-color: black;
}