

/*.container {*/
/*    display: flex;*/
/*    !*justify-content: center;*!*/
/*     align-items: center;*/
/*    min-height: 100vh;*/
/*    max-width: 768px;*/
/*    min-width: 320px;*/
/*    width: 100%;*/
/*    !*padding: 0 16px;*!*/
/*    border-left: 1px solid #E9E9E9;*/
/*    border-right: 1px solid #E9E9E9;*/
/*    flex-direction: column;*/
/*    justify-content: flex-start;*/
/*    padding: 20px;*/
/*    overflow-x: hidden*/
/*  }*/



.container {
    /*width: 100%;*/
    min-width: 400px;
    max-width: 600px; /* 모바일 뷰 너비 고정 */
    /*padding: 16px;*/
    border-left: 1px solid #E9E9E9;
    border-right: 1px solid #E9E9E9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*background-color: red;*/
    margin: 0 auto;
    align-items: center;
    position: relative;
    /*justify-content: center;*/
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #FFFEFB;
    justify-content: flex-start;
}

.routesContainer {
    display: flex;
    flex-direction: column;
    /*justify-content: flex-start;*/
    /*align-items: flex-start;*/
    overflow-y: auto;
    width: 100%;

}


:root {
    --PrimaryColor: #F1EFEB;
    --BlackColor: #291B12;
    --YellowColor: #F7DF66;

    --BlackText: #150902;
    --BrownText: #9E9583;
}


/*.footerContainer {*/
/*    !*background: #f8f8f8;*!*/
/*    padding: 20px;*/
/*    !*margin-top: auto; *!*/
/*    !*width: 100%;*!*/
/*    !*position: absolute;*!*/
/*    !*bottom: 0px;*!*/
/*    !*bottom: 34px;*!*/
/*    width: 100%;*/
/*    !*left: 50%;*!*/
/*    !*transform: translate(-50%, -50%);*!*/
/*    !*transform: translateX(-55%);*!*/
/*}*/

.footerContainer {
    position: fixed;
    bottom: 0;

}